<!doctype html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <link rel="stylesheet" th:href="@{/css/login_style.css}"/>
</head>
<body>
<form th:action="@{/login}" method="post">
    <div class="header">
        <div class="menu">
            <h2>Cart</h2>
            <h2>Login</h2>
            <h2>join</h2>
        </div>
    </div>
    <div class="wrapper">
        <div class="login-form">
            <h2 class="title">ARVÉE</h2>
            <div>
                <label for="loginId"></label>
                <input class="loginId" type="text" name="loginId" id="loginId" placeholder="아이디" required />
            </div>
            <div>
                <label for="password"></label>
                <input class="password" type="password" name="password" id="password" placeholder="비밀번호" required />
            </div>
            <div>
                <button class="login-btn" type="submit">로그인</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="description">
            <p>
                린마케팅 | BUSINESS NUMBER: 128-37-45882 | 대표: 권지윤  | PERMIT NUMBER: 제 2022-고양일산동-1958호
            </p>
        </div>
    </div>
</form>
</body>
</html>